<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Currency Exchange Rates</li>
    </ol>
</nav>
<div class="form-group row row-width-50">
    <div class="col-xs-2">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Base currency</span>
            </div>
            <select  class="form-control"  name="function" ([ngModel])="base" (change)="onBaseSelection($event.target.value)">
                <option [ngValue]="null">EUR</option>
                <option *ngFor="let rate of rates | keyvalue" [ngValue]="rate.key" [selected]="rate.key === base">{{rate.key}}</option>
            </select>
        </div>
    </div>
    
    <div class="col-xs-2">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Date</span>
            </div>
            <input class="form-control" type="date" value="{{date}}" (change)="retrieveData($event.target.value, base)" placeholder="{{date}}">

        </div>
    </div>
</div>
<div class="row-width-50 table-scrollable" >
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Currency</th>
                <th scope="col">Rate</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rate of rates | keyvalue">
                <td>
                <a [routerLink]="['/rates', rate.key]">{{ rate.key }}</a>
                </td>
                <th scope="row">{{ rate.value }}</th>
            </tr>
        </tbody>
    </table>
</div>
