.row-width-50 {
    margin: 25px auto 0px ;
    width: 50%;
    & .input-group {
        padding-right: 25px;
    }

    &.table-scrollable {
        height: 80vh;
        overflow-y: scroll;
        
    }

    &.table-scrollable::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }

    &.table-scrollable::-webkit-scrollbar
    {
        width: 6px;
        background-color: #F5F5F5;
    }

    &.table-scrollable::-webkit-scrollbar-thumb
    {
        background-color: #545b62;
    }

}