<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/rates']">Currency Exchange Rates</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{currency}}</li>
    </ol>
</nav>
<div class="form-group row row-width-50">
    <div class="col-xs-2">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Base currency</span>
            </div>
            <select  class="form-control"  name="function" [(ngModel)]="base" (change)="onBaseSelection($event.target.value)">
                <option [ngValue]="null">EUR</option>
                <option *ngFor="let rate of rateList" [selected]="rate === base" value="{{rate}}">{{rate}}</option>
            </select>
        </div>
    </div>
    
    <div class="col-xs-2">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Date range</span>
            </div>
            <input class="form-control" type="date" value="{{startDate}}" (change)="startDate = $event.target.value" placeholder="{{startDate}}">
            <input class="form-control" type="date" value="{{endDate}}" (change)="endDate = $event.target.value" placeholder="{{endDate}}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="searchDate()">Filter</button>
            </div>
        </div>
    </div>
</div>
<div class="row-width-50 table-scrollable">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Rate</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rate of rates | keyvalue">
                <td>
                {{ rate.key }}
                </td>
                <th scope="row">1 {{base === null ? 'EUR' : base}} = {{ rate.value[currency] | json }} {{currency}}</th>
            </tr>
        </tbody>
    </table>
</div>
